*.sink.logstash.class=org.apache.hadoop.metrics2.sink.FileSink
namenode.sink.logstash.filename=/var/log/hadoop-yarn/metrics/namenode-metrics.out
secondarynamenode.sink.logstash.filename=/var/log/hadoop-yarn/metrics/secondarynamenode-metrics.out
datanode.sink.logstash.filename=/var/log/hadoop-yarn/metrics/datanode-metrics.out
resourcemanager.sink.logstash.filename=/var/log/hadoop-yarn/metrics/resourcemanager-metrics.out
nodemanager.sink.logstash.filename=/var/log/hadoop-yarn/metrics/nodemanager-metrics.out
maptask.sink.logstash.filename=/var/log/hadoop-yarn/metrics/maptask-metrics.out
reducetask.sink.logstash.filename=/var/log/hadoop-yarn/metrics/reducetask-metrics.out
mrappmaster.sink.logstash.filename=/var/log/hadoop-yarn/metrics/mrappmaster-metrics.out